# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.swp
*.swo

# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers de build
dist/
build/

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.temp 